*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background:#f3f3f3;
}

/*nav*/
.imglogo{
    width: 10%;
    height: auto;
}
header{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:1.3rem;
    font-weight:bold;
    color:#8b6d3f;
}

nav{
    display:flex;
    gap:35px;
    padding: 10px;
    margin-top: 7px;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:600;
}
nav a:hover{
    color: #f7b64a;
}
.user img{
    width: 50px;
    height: auto;
    padding-top: 15px;
}

.active{
    border-bottom:3px solid orange;
    padding-bottom:5px;
}

.user{
    font-size:2rem;
}
/*hero*/

.hero{
    height:420px;

    background-image:url('https://images.unsplash.com/photo-1547592180-85f173990554');
    background-size:cover;
    background-position:center;
    position:relative;
}

.overlay{
    background:rgba(0,0,0,.35);
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:60px;
}

.overlay h1{
    color:white;
    font-size:3rem;
}

.overlay span{
    color:#b85b26;
}

.buttons{
    margin-top:25px;
    display:flex;
    gap:15px;
}

.btn-primary{
    background:#f7b64a;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size: 115%;
}

.btn-secondary{
    background:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size: 115%;
}

/* Accesibilidad */

.accesibilidad{
    padding:40px;
}

.accesibilidad h2{
    text-align:center;
    margin-bottom:30px;
    font-size:2.2rem;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:220px;
    background:#ddd;
    border-radius:20px;
    padding:25px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.icon{
    font-size:3rem;
    color:#005b6d;
    margin-bottom:15px;
}

.card h3{
    margin-bottom:10px;
}

/* Alto contraste */

.high-contrast{
    background:black;
    color:white;
}

.high-contrast header{
    background:#111;
}

.high-contrast .card{
    background:#222;
    color:white;
}

.high-contrast nav a{
    color:white;
}

/* texto grande */

.large-text{
    font-size:120%;
}

/* moodo dislexia */

#dyslexia{
    font-family:Verdana, sans-serif;
}
.nutricion h1{
    text-align: right;
    margin-right: 20%;
}